@page
@using OnePageRulesCards.Data
@using OnePageRulesCards.Services
@model IndexModel
@{
  ViewData["Title"] = "Home page";
  Force? force = Model.Roster?.Forces?.FirstOrDefault();
}

<div class="container">

  @if (Model.Roster == null)
  {
    <form method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label asp-for="RosterFile" style="font-weight: bold;">Battlescribe Roster File</label>
        <input asp-for="RosterFile" type="file" class="form-control" style="height: auto;" />
        <p class="small">Upload a .rosz or .ros Battlescribe roster file for GF/AoF/GFF/AoFS</p>
      </div>
      <input type="submit" value="Generate Cards!" class="button button-primary" />
    </form>
  }
  else
  {
    <div class="row">
      @foreach (Selection selection in force.Selections)
      {
        <div class="col-xs-12 col-lg-6">
          <partial name="Shared/_Unit" model="selection" />
        </div>
      }
    </div>
  }
</div>
